<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/crud.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet" />
    <title>Administrar Estaciones de Autobús</title>
</head>

<body>
    <header class="mb-5">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ADMINISTRAR ESTACIONES DE AUTOBÚS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="routes.html">Rutas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="type-routes.html">Tipos de Rutas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-5 mt-3 mb-5">
        <div class="add-station-component m-3 align-items-center">
            <button id="btnAgregarEstacion" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarEstacion">Agregar Nueva Estación</button>

            <div class="modal fade" id="modalAgregarEstacion" tabindex="-1" aria-labelledby="modalAgregarEstacionLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalAgregarEstacionLabel">Agregar Nueva Estación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formAgregarEstacion">
                                <div class="mb-3">
                                    <label for="nuevoNombreEstacion" class="form-label">Nombre de la Estación</label>
                                    <input type="text" class="form-control" id="nuevoNombreEstacion" required>
                                    <label for="nuevaUbicacionEstacion" class="form-label">Ubicación de la Estación</label>
                                    <input type="text" class="form-control" id="nuevaUbicacionEstacion" required>
                                    <label for="nuevoTiempoEstimadoLlegada" class="form-label">nuevoTiempoEstimadoLlegada (minutos)</label>
                                    <input type="number" class="form-control" id="nuevoTiempoEstimadoLlegada" required>
                                    <label for="nuevoIdRuta" class="form-label">codigo de ruta asignada</label>
                                    <input type="number" class="form-control" id="nuevoIdRuta" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Agregar Estación</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Estaciones Disponibles</h2>

        <div class="stations-tbl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">UBICACIÓN</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="tbl-body-estaciones"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarEstacion" tabindex="-1" aria-labelledby="modalEliminarEstacionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarEstacionLabel">Eliminar Estación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar la siguiente estación?</p>
                    <p><strong>Nombre:</strong> <span class="estacion-nombre"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarEliminarEstacion">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalModificarEstacion" tabindex="-1" aria-labelledby="modalModificarEstacionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalModificarEstacionLabel">Modificar Estación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="formModificarEstacion">
                        <div class="mb-3">
                            <label for="nombreEstacion" class="form-label">Nombre de la Estación</label>
                            <input type="text" class="form-control" id="nombreEstacion" required />
                            <label for="ubicacionEstacion" class="form-label">Ubicación de la Estación</label>
                            <input type="text" class="form-control" id="ubicacionEstacion" required />
                            <label for="TiempoEstimadoLlegada" class="form-label">Tiempo Estimado de Llegada</label>
                            <input type="text" class="form-control" id="TiempoEstimadoLlegada" required />
                            <label for="IdRuta" class="form-label">Ruta asignada</label>
                            <input type="text" class="form-control" id="IdRuta" required />

                        </div>
                        <button type="submit" class="btn btn-primary">Modificar Estación</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/boostrap/bootstrap.min.js"></script>
    <script src="../js/components/estaciones.js"></script>
</body>

</html>
