<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/crud.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet" />
    <title>Administrar Tipos de Ruta</title>
</head>

<body>
    <header class="mb-5">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ADMINISTRAR TIPOS DE RUTA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="rutas.html">Rutas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="stations.html">Estaciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-5 mt-3 mb-5">
        <div class="add-type-route-component m-3 align-items-center">
            <button id="btnAgregarTipoRuta" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarTipoRuta">Agregar Nuevo Tipo de Ruta</button>

            <div class="modal fade" id="modalAgregarTipoRuta" tabindex="-1" aria-labelledby="modalAgregarTipoRutaLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalAgregarTipoRutaLabel">Agregar Nuevo Tipo de Ruta</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formAgregarTipoRuta">
                                <div class="mb-3">
                                    <label for="nuevoNombreTipoRuta" class="form-label">Nombre del Tipo de Ruta</label>
                                    <input type="text" class="form-control" id="nuevoNombreTipoRuta" required>
                                    <label for="nuevaDescripcionTipoRuta" class="form-label">Nombre del Tipo de Ruta</label>
                                    <input type="text" class="form-control" id="nuevaDescripcionTipoRuta" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Agregar Tipo de Ruta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Tipos de Rutas Disponibles</h2>

        <div class="type-routes-tbl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="tbl-body-tipos"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarTipoRuta" tabindex="-1" aria-labelledby="modalEliminarTipoRutaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarTipoRutaLabel">Eliminar Tipo de Ruta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar el siguiente tipo de ruta?</p>
                    <p><strong>Nombre:</strong> <span class="tipo-ruta-nombre"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarEliminarTipoRuta">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalModificarTipoRuta" tabindex="-1" aria-labelledby="modalModificarTipoRutaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalModificarTipoRutaLabel">Modificar Tipo de Ruta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="formModificarTipoRuta">
                        <div class="mb-3">
                            <label for="nombreTipoRuta" class="form-label">Nombre del Tipo de Ruta</label>
                            <input type="text" class="form-control" id="nombreTipoRuta" required />
                            <label for="descripcionTipoRuta" class="form-label">descripcionTipoRuta</label>
                            <input type="text" class="form-control" id="descripcionTipoRuta" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Modificar Tipo de Ruta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/boostrap/bootstrap.min.js"></script>
    <script src="../js/components/tipos_rutas.js"></script>
</body>

</html>
